.wrapper {
    display: flex;
    align-items: center;
    height: 48px;
}

.search {
    padding: 14px 20px;
    border: 1px solid #121212;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 504px; 
}

.searchButton {
    border-radius: 0px 8px 8px 0px;
    padding: 13px 20px;
    border: 1px solid #121212;
    border-left: none;
    cursor: pointer;
    height: 46px;
    background-color: white;
  }